html,
body {
  height: 100vh;
  margin: 0;
}

/* Section One - Top part with blue background */
.top-section {
  background-color: #1f2937;
  color: white;

  display: flex;
  flex-direction: column;

  padding-left: 230px;
  padding-right: 230px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side {
  font-size: 24px;
  color: #f9faf8;
}
.right-side {
  align-self: center;
}
.right-side ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
a {
  text-decoration: none;
  color: white;
}
.awesome-section {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.awesome-left {
  flex: 1;
}
.awesome-left h1 {
  font-size: 48px;
  margin: 0;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  color: #f9faf8;
}
.awesome-left p {
  font-size: 18px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #e5e7eb;
}
.awesome-left button {
  background-color: #3882f6;
  color: #e5e7eb;
  border-style: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-top: 15px;
}
.awesome-right {
  flex: 1;
  background-color: rgba(128, 128, 128, 0.5);
}
.awesome-right p {
  text-align: center;
  padding-top: 70px;
}

/* Section One - First part with white background */
.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  font-family: "poppins", sans-serif;
}
.cards-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 100px;
}
.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.card-img {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  border: 3px #3882f6 solid;
}
.card-text {
  width: 120px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

/* Section Three - part with grey background */
.quote {
  border: 7px solid darkblue;
}

.bottom-section {
  border: 7px solid orange;
}

.footer-section {
  background-color: #1f2937;

  border: 7px solid red;
}
